<div class="header">
  <h1>Coding with Ruby</h1>
  <h3>A Collection of Ruby on Rails Resources</h3>
      <%= link_to ' Add a Pin', new_pin_path, html_options = {class:"fa fa-plus-circle"} %>

</div>
<hr/>
<%= render partial: "shared/pins_list" %>
<div>
 
<hr/>